In [26]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\tyagi\appdata\local\programs\python\python310\lib\site-packages (2.9.3)

[notice] A new release of pip available: 22.2.1 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import psycopg2

In [18]:
try:
    conn=psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=dbpass1234")
except psycopg2.Error as e:
    print(e)

In [19]:
try:
    curr=conn.cursor()
except psycopg2.Error as e:
    print(e)

In [20]:
conn.set_session(autocommit=True)

In [21]:
try:
    curr.execute("Create database animenew")
except psycopg2.Error as e:
    print(e)

database "animenew" already exists

In [22]:
try:
    conn.close()
except psycopg2.Error as e:
    print(e)

In [16]:
try:
    conn = psycopg2.connect("host=localhost dbname=animenew user=postgres password=dbpass1234")
except psycopg2.Error as e:
    print(e)
    
try:
    curr = conn.cursor()
except psycopg2.Error as e:
    print(e)
    
conn.set_session(autocommit=True)

In [50]:
try:
    curr.execute("CREATE TABLE IF NOT EXISTS animedetails(Rank numeric,Name varchar,Japanese_name varchar,Type varchar, Episodes numeric,\
                  Studio varchar,Release_season varchar,Rating numeric,Release_year numeric,End_year numeric)")
except psycopg2.Error as e:
    print(e)

In [ ]:
!pip install pandas

In [18]:
import pandas as pd

In [19]:
AnimeData = pd.read_csv("C:/Users/tyagi/OneDrive/Documents/PyTut/DataSets/Anime.csv")

In [47]:
AnimeData.head()

,Rank,Name,Japanese_name,Type,Episodes,Studio,Release_season,Rating,Release_year,End_year
0,1,Demon Slayer: Kimetsu no Yaiba - Entertainment...,Kimetsu no Yaiba: Yuukaku-hen,TV,NaN,ufotable,Fall,4.60,2021.0,NaN
1,2,Fruits Basket the Final Season,Fruits Basket the Final,TV,13.0,TMS Entertainment,Spring,4.60,2021.0,NaN
2,3,Mo Dao Zu Shi 3,The Founder of Diabolism 3,Web,12.0,B.C MAY PICTURES,NaN,4.58,2021.0,NaN
3,4,Fullmetal Alchemist: Brotherhood,Hagane no Renkinjutsushi: Full Metal Alchemist,TV,64.0,Bones,Spring,4.58,2009.0,2010.0
4,5,Attack on Titan 3rd Season: Part II,Shingeki no Kyojin Season 3: Part II,TV,10.0,WIT Studio,Spring,4.57,2019.0,NaN

In [29]:
AnimeData = AnimeData.drop(['Tags'],axis=1)

In [51]:
animedetails_table_insert=('''INSERT INTO animedetails(Rank,Name,Japanese_name,Type,Episodes,Studio,Release_season,
                              Rating,Release_year,End_year)
                              VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
                            ''')

In [52]:
for i, row in AnimeData.iterrows():
    #print(list(row))
    curr.execute(animedetails_table_insert,list(row))

In [54]:
try:
    curr.execute("SELECT * FROM animedetails")
except psycopg2.Error as e:
    print(e)

In [56]:
curr.close()
conn.close()